<!--<div class="currencies text-center">
  <div class="container">
    <i class="fa fa-btc fa-2x" aria-hidden="true"></i>
    <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
    <i class="fa fa-inr fa-2x" aria-hidden="true"></i>
  </div>
</div>-->

<h4 class="text-center heading">Predict price of Bitcoin at {{hour+1}}:00</h4>

<div class="previous card bg-light center">
  <div class="card-header">
    Previous
  </div>
  <div class="card-body text-center">
    <h3 class="card-text"><i class="fa fa-inr fa" aria-hidden="true"></i> {{previous}}</h3>
  </div>
  <div class="card-footer text-muted">
    At {{hour}}:00
    <p class="card-text pull-right"><small class="text-muted">Powered by Coindesk</small></p>
  </div>

</div>

<div class="wallet card center text-white bg-info">
  <div class="card-header">
    Wallet Balance
  </div>
  <div class="card-body text-center">
    <h3 class="card-text">{{balance}} PslCoins</h3>
  </div>
</div>

<div *ngIf='txHash' class="card center txHash">
  <div class="card-header">
    Transaction Hash
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{txHash}}</li>
  </ul>
</div>

<div class="current card center">
  <div class="card-header">
    Your Prediction
  </div>
  <div class="card-body text-center" >
    <form (submit)="makePrediction(prediction.value)" ngNativeValidate>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-inr" aria-hidden="true"></i></span>
          <input type="number" class="form-control" #prediction required>
        </div>
        <small id="betHelp" class="form-text text-muted">Bet will be {{coins}} PslCoins </small>
      </div>
      <button type="submit" class="btn btn-primary">Bet</button>
    </form>
  </div>
</div>
